In [10]:
import pandas as pd
df = pd.read_csv('c:/data/project2/df_merge.csv', encoding='ANSI', index_col=0)
ku = pd.read_csv('c:/data/project2/raw/시군구상권코드.csv', encoding='ANSI', index_col=0)
df.shape

(1177, 49)

In [11]:
# df3 = pd.read_csv('c:/data/project2/raw/편의점수.csv', encoding='ANSI')
# temp = pd.merge(df[df['cluster']==2], df3, on='상권코드', how='left')
# temp[['상권코드명']].drop_duplicates()

In [12]:
df['survive']=(1-df['폐업점포수']/(df['유사업종점포수']+df['폐업점포수']))*100
df['survive'].describe()

count    1177.000000
mean       67.201696
std        20.661359
min         0.000000
25%        51.219512
50%        62.529274
75%        81.481481
max       100.000000
Name: survive, dtype: float64

In [13]:
cluster0=df[df['cluster']==0]
cluster1=df[df['cluster']==1]
cluster2=df[df['cluster']==2]

cluster0=cluster0[cluster0['survive']!=1]
cluster1=cluster1[cluster1['survive']!=1]
cluster2=cluster2[cluster2['survive']!=1]
# print(len(cluster0))
# print(len(cluster1))
# print(len(cluster2))

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler() # 표준화 : 평균0, 표준편차 1
df_scaled=pd.DataFrame(scaler.fit_transform(df.iloc[:,:-2]), columns=df.columns[:-2], index=df.index)

In [15]:
cols1=['연령대30상주인구수', '아파트평균시가', '연령대30직장인구수', '관공서수', '은행수', '약국수', '백화점수', '극장수', '숙박시설수', '의료기관', '교육기관', '대중교통', '연령대20유동인구수',  '월매출평균']

In [16]:
import statsmodels.api as sm 
X=df_scaled[cols1]
y=df['survive']
model=sm.OLS(y, X).fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                survive   R-squared (uncentered):                   0.819
Model:                            OLS   Adj. R-squared (uncentered):              0.817
Method:                 Least Squares   F-statistic:                              375.2
Date:                Wed, 25 Nov 2020   Prob (F-statistic):                        0.00
Time:                        15:12:33   Log-Likelihood:                         -5670.7
No. Observations:                1177   AIC:                                  1.137e+04
Df Residuals:                    1163   BIC:                                  1.144e+04
Df Model:                          14
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
연령대30상주인구수   105.8057      5.688     18.602      0.000      94.646     116.965
아파트평균시가      248.8888     14.255     17.460      0.000     220.921     276.856
연령대30직장인구수     2.2801     27.730      0.082      0.934     -52.125      56.686
관공서수          24.4666      8.889      2.753      0.006       7.027      41.906
은행수          -66.7044     21.107     -3.160      0.002    -108.116     -25.292
약국수           56.2440     17.326      3.246      0.001      22.251      90.237
백화점수         -14.4872     10.569     -1.371      0.171     -35.223       6.248
극장수          -78.8942     24.034     -3.283      0.001    -126.050     -31.739
숙박시설수         33.6428     18.498      1.819      0.069      -2.651      69.936
의료기관         -12.9040      7.614     -1.695      0.090     -27.843       2.036
교육기관          54.1411     12.193      4.440      0.000      30.219      78.064
대중교통          63.0162     13.355      4.719      0.000      36.814      89.218
연령대20유동인구수   -18.4961     26.673     -0.693      0.488     -70.829      33.837
월매출평균        153.6050      8.223     18.681      0.000     137.472     169.738
==============================================================================
Omnibus:                      134.117   Durbin-Watson:                   1.608
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              416.549
Skew:                          -0.563   Prob(JB):                     3.53e-91
Kurtosis:                       5.688   Cond. No.                         10.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif=pd.DataFrame()
vif['VIF Factor']=[variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['features']=X.columns 
vif=vif.sort_values('VIF Factor').reset_index(drop=True)
vif.sort_values(by='VIF Factor', ascending=False).head(10)

    VIF Factor    features
13    4.244140         은행수
12    3.640945  연령대20유동인구수
11    3.549218         약국수
10    3.161082       숙박시설수
9     2.965992        대중교통
8     2.266347  연령대30상주인구수
7     2.163971     아파트평균시가
6     1.991578  연령대30직장인구수
5     1.718738        관공서수
4     1.491976         극장수

In [18]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler() # 표준화 : 평균0, 표준편차 1
df_scaled=pd.DataFrame(scaler.fit_transform(cluster1.iloc[:,:-2]), columns=cluster1.columns[:-2], index=cluster1.index)

In [19]:
cols2=['개업점포수', '연령대30상주인구수', '아파트평균시가', '점포수', '개업율', '연령대30직장인구수', '관공서수', '은행수', '약국수',
       '백화점수', '극장수', '숙박시설수', '의료기관', '교육기관', '대중교통', '연령대20유동인구수', '월매출평균']

In [20]:
X=df_scaled[cols2]
y=cluster1['survive']
model=sm.OLS(y, X).fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                survive   R-squared (uncentered):                   0.830
Model:                            OLS   Adj. R-squared (uncentered):              0.817
Method:                 Least Squares   F-statistic:                              61.19
Date:                Wed, 25 Nov 2020   Prob (F-statistic):                    6.43e-68
Time:                        15:12:33   Log-Likelihood:                         -1064.9
No. Observations:                 216   AIC:                                      2162.
Df Residuals:                     200   BIC:                                      2216.
Df Model:                          16
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
개업점포수        -33.0155     14.180     -2.328      0.021     -60.976      -5.055
연령대30상주인구수    86.8078     12.641      6.867      0.000      61.882     111.734
아파트평균시가      116.0195     23.461      4.945      0.000      69.756     162.283
점포수            6.8404     13.122      0.521      0.603     -19.034      32.715
개업율            2.7925     26.288      0.106      0.916     -49.046      54.631
연령대30직장인구수   -13.0419     28.559     -0.457      0.648     -69.357      43.273
관공서수          22.2360     12.425      1.790      0.075      -2.264      46.736
은행수           31.3652     22.366      1.402      0.162     -12.739      75.469
약국수           35.7244     14.161      2.523      0.012       7.800      63.649
백화점수        1.838e-13   1.36e-13      1.354      0.177   -8.39e-14    4.52e-13
극장수            2.0278     24.499      0.083      0.934     -46.282      50.337
숙박시설수         63.4178     22.295      2.844      0.005      19.454     107.382
의료기관         -30.2993     18.948     -1.599      0.111     -67.663       7.065
교육기관          21.7413     16.687      1.303      0.194     -11.164      54.647
대중교통          20.8212     15.106      1.378      0.170      -8.966      50.608
연령대20유동인구수    64.9842     26.149      2.485      0.014      13.421     116.548
월매출평균         38.5235      9.362      4.115      0.000      20.062      56.985
==============================================================================
Omnibus:                        1.339   Durbin-Watson:                   2.041
Prob(Omnibus):                  0.512   Jarque-Bera (JB):                1.438
Skew:                          -0.169   Prob(JB):                        0.487
Kurtosis:                       2.788   Cond. No.                     2.20e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.74e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [21]:
vif=pd.DataFrame()
vif['VIF Factor']=[variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['features']=X.columns 
vif=vif.sort_values('VIF Factor').reset_index(drop=True)
vif.sort_values(by='VIF Factor', ascending=False).head(10)

    VIF Factor    features
15    3.810639       개업점포수
14    3.307748  연령대30상주인구수
13    3.104266         개업율
12    2.887485     아파트평균시가
11    2.492982  연령대20유동인구수
10    2.282770         약국수
9     2.225085       월매출평균
8     2.211211  연령대30직장인구수
7     2.208689         은행수
6     1.960490        대중교통

In [22]:
cluster2[['survive']]

            survive
상권코드
1000022  100.000000
1000067  100.000000
1000078  100.000000
1000091   61.538462
1000264   33.333333
1000281  100.000000
1000328  100.000000
1000370  100.000000
1000440  100.000000
1000456  100.000000
1000490  100.000000
1000576  100.000000
1000592  100.000000
1000696  100.000000
1000707   45.205479
1000745  100.000000
1000756  100.000000
1000765  100.000000
1000783   60.000000
1001026  100.000000
1001106   51.219512
1001125   55.555556
1001476   50.000000

In [23]:
scaler=MinMaxScaler() # 표준화 : 평균0, 표준편차 1
df_scaled=pd.DataFrame(scaler.fit_transform(cluster2.iloc[:,:-2]), columns=cluster2.columns[:-2], index=cluster2.index)

In [24]:
cols3=['연령대30상주인구수', '아파트평균시가', '연령대30직장인구수', '관공서수', '은행수', '약국수', '백화점수', '극장수', '숙박시설수', '의료기관', '교육기관', '대중교통', '연령대20유동인구수',  '월매출평균']

In [25]:
X=df_scaled[cols3]
y=cluster2['survive']
model=sm.OLS(y, X).fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                survive   R-squared (uncentered):                   0.894
Model:                            OLS   Adj. R-squared (uncentered):              0.756
Method:                 Least Squares   F-statistic:                              6.488
Date:                Wed, 25 Nov 2020   Prob (F-statistic):                     0.00278
Time:                        15:12:33   Log-Likelihood:                         -109.85
No. Observations:                  23   AIC:                                      245.7
Df Residuals:                      10   BIC:                                      260.5
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
연령대30상주인구수    62.9275     32.866      1.915      0.085     -10.302     136.157
아파트평균시가       -1.9770     42.539     -0.046      0.964     -96.761      92.807
연령대30직장인구수   132.2880    102.747      1.288      0.227     -96.647     361.223
관공서수         -74.5254     40.369     -1.846      0.095    -164.473      15.422
은행수          -89.9515    104.265     -0.863      0.409    -322.267     142.364
약국수           44.2116     30.443      1.452      0.177     -23.621     112.044
백화점수       -2.839e-14   6.66e-14     -0.426      0.679   -1.77e-13     1.2e-13
극장수          -26.3223     52.995     -0.497      0.630    -144.403      91.759
숙박시설수        -12.6964    108.821     -0.117      0.909    -255.164     229.771
의료기관          21.3182     51.145      0.417      0.686     -92.640     135.276
교육기관          27.8471     44.435      0.627      0.545     -71.160     126.854
대중교통         -27.8419     56.257     -0.495      0.631    -153.191      97.507
연령대20유동인구수   102.0836    117.081      0.872      0.404    -158.790     362.957
월매출평균         58.3333     40.950      1.425      0.185     -32.908     149.575
==============================================================================
Omnibus:                        0.214   Durbin-Watson:                   1.514
Prob(Omnibus):                  0.898   Jarque-Bera (JB):                0.056
Skew:                           0.100   Prob(JB):                        0.973
Kurtosis:                       2.866   Cond. No.                     2.56e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.24e-34. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [26]:
vif=pd.DataFrame()
vif['VIF Factor']=[variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['features']=X.columns 
vif=vif.sort_values('VIF Factor').reset_index(drop=True)
vif.sort_values(by='VIF Factor', ascending=False).head(10)

    VIF Factor    features
12   16.259130  연령대20유동인구수
11    9.548914  연령대30직장인구수
10    8.415574         은행수
9     7.192456        대중교통
8     6.779120       숙박시설수
7     4.214910     아파트평균시가
6     3.808110         약국수
5     3.375225       월매출평균
4     3.176979  연령대30상주인구수
3     2.764150        교육기관

In [27]:
cols1=['연령대30상주인구수', '아파트평균시가', '연령대30직장인구수', '관공서수', '은행수', '약국수', '백화점수', '극장수', '숙박시설수', '의료기관', '교육기관', '대중교통', '연령대20유동인구수',  '월매출평균','survive']

cols2=['개업점포수', '연령대30상주인구수', '아파트평균시가', '점포수', '개업율', '연령대30직장인구수', '관공서수', '은행수', '약국수', '백화점수', '극장수', '숙박시설수', '의료기관', '교육기관', '대중교통', '연령대20유동인구수', '월매출평균', 'survive']
cluster0[cols1].to_csv('c:/data/project2/df_filtered3.csv', encoding='ANSI')
cluster1[cols2].to_csv('c:/data/project2/df_filtered4.csv', encoding='ANSI')